html
  body
    footer
      .site-footer
        .footer-top
          .footer-links
            .footer-links-inner
              display: flex;
              width: 60vw;
              margin: auto;
              justify-content: space-around;
              align-items: center;
