rupture.scale = 0 325px 400px 767px 1000px 1250px 1500px 1920px
rupture.scale-names = '0' 'xs' 's' 'm' 'l' 'xl' 'xxl' 'hd'
boot-sm = 540px
boot-md = 768px
boot-lg = 992px
boot-xl = 1200px

primaryColor = #5b5b5b
secondaryColor = #25aae1
thirdColor = #f1f1f1
fourthColor = #60cfde

greyDark = #666
greyLight = #bcbcbc
greyText = #5a5a5a

primaryFont = 'Montserrat', sans-serif;
secondaryFont = 'Montserrat', sans-serif;
