@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,700");
img {
  max-width: 100%;
  height: auto;
}
html {
  font-size: 18px;
  line-height: 1.428;
}
@media only screen and (max-width: 1920px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1500px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1920px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1000px) {
  html {
    font-size: 12px;
  }
}
html a {
  line-height: 1.2;
  letter-spacing: 1.4;
}
html a:visted,
html a:focus,
html a:hover,
html a:active {
  text-decoration: none !important;
}
html p,
html h1,
html h2,
html h3,
html h4 {
  font-family: 'Montserrat', sans-serif;
}
#wpadminbar {
  position: fixed;
}
.hidden_animated {
  opacity: 0;
}
.animated {
  opacity: 1 !important;
}
img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}
img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
::-webkit-input-placeholder {
/* Chrome */
  color: #25aae1 !important;
}
:-ms-input-placeholder {
/* IE 10+ */
  color: #25aae1 !important;
}
::-moz-placeholder {
/* Firefox 19+ */
  color: #25aae1 !important;
  opacity: 1 !important;
}
:-moz-placeholder {
/* Firefox 4 - 18 */
  color: #25aae1 !important;
  opacity: 1 !important;
}
html body .btn {
  margin: 0 1.75vw;
  border-radius: 2vw;
  font-size: 1rem;
  padding: 0.5vw 1.5vw;
  background: #25aae1;
  border: #25aae1;
}
html body header {
  z-index: 1;
  position: fixed;
  width: 100%;
}
html body header .header-bottom {
  transition: all 0.5s ease;
  width: 82vw;
  background: #fff;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 1.7vw 2.5vw 1vw;
  background: rgba(255,255,255,0.85);
}
html body header .header-bottom .header-left {
  transition: all 0.5s ease;
  width: 16vw;
}
html body header .header-bottom .header-left .logo-container {
  width: 100%;
}
html body header .header-bottom .header-left .logo-container .logolink {
  width: 100%;
}
html body header .header-bottom .header-left .logo-container .logolink img {
  width: 100%;
}
html body header .header-bottom .header-right {
  min-width: 60vw;
}
html body header .header-bottom .header-right .navi {
  width: 100%;
  margin: 1.5vw 0;
  display: flex;
  align-items: center;
  max-width: 60vw;
}
html body header .header-bottom .header-right .navi .menu-menu-1-container {
  width: 100%;
}
html body header .header-bottom .header-right .navi .menu-menu-1-container ul {
  display: flex;
  justify-content: space-between;
  margin: 0 1vw;
}
html body header .header-bottom .header-right .navi .menu-menu-1-container ul li a {
  font-size: 1rem;
}
html body header .header-bottom .header-right .navi .btn {
  margin: 0 1.75vw;
  border-radius: 2vw;
  font-size: 1rem;
  padding: 0.5vw 1.5vw;
  background: #25aae1;
  border: #25aae1;
}
html body header .header-bottom .header-right .top-info {
  display: flex;
  justify-content: flex-end;
  max-width: 58.5vw;
  transition: all 0.5s ease;
}
html body header .header-bottom .header-right .top-info p {
  margin: 0;
  font-size: 1rem;
  color: #25aae1;
}
html body header .header-bottom .header-right .top-info a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
html body header .header-bottom .header-right .top-info a .fa-stack {
  width: 1.75rem;
  height: 1.15rem;
  line-height: 1.25rem;
  font-size: 0.65rem;
  color: #25aae1;
}
html body header .header-bottom .header-right ul {
  list-style: none;
}
html body header .header-bottom .header-right ul li {
  display: inline-block;
}
html body header .header-bottom .header-right ul li a {
  text-decoration: none;
  color: #5b5b5b;
}
html body header .header-bottom button {
  display: none;
}
@media only screen and (min-width: 1000px) {
  html header.active {
    transition: 0.5s;
  }
}
html header.active .header-bottom {
  padding: 0.5vw;
}
html header.active .header-bottom .header-left {
  width: 10vw;
  margin: 0.75vw;
}
html header.active .header-bottom .header-right .top-info {
  display: none;
}
.container {
  display: inline-block;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
html body #primary #content .banner-home {
  height: 59vw;
  display: flex;
  align-items: flex-end;
}
@media only screen and (max-width: 1400px) {
  html body #primary #content .banner-home {
    padding-top: 860px;
  }
}
html body #primary #content .banner-home .banner-content {
  display: flex;
  align-items: flex-start;
}
html body #primary #content .banner-home .banner-content .cta-text {
  margin: 2vw;
  max-width: 65vw;
}
html body #primary #content .banner-home .banner-content .cta-text h1,
html body #primary #content .banner-home .banner-content .cta-text h3,
html body #primary #content .banner-home .banner-content .cta-text p {
  color: #fff;
}
html body #primary #content .banner-home .banner-content .cta-text h1 {
  font-size: 3rem;
  font-weight: 300;
}
html body #primary #content .banner-home .banner-content .cta-text p {
  font-size: 1.2rem;
}
html body #primary #content .banner-home .banner-content .cta-text .btn-transparent {
  background: transparent;
  border: 3px solid;
  border-radius: 50px;
  padding: 0.55vw 1.5vw;
  margin: 1vw 0;
}
html body #primary #content .contact-widget {
  position: absolute;
  width: 25vw;
  right: 15.25vw;
  top: 39vw;
  padding: 1vw 2.8vw 0;
  background: #25aae1;
}
html body #primary #content .contact-widget h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 200;
}
html body #primary #content .contact-widget p {
  font-size: 1rem;
  color: #fff;
  min-height: 5.75vw;
}
html body #primary #content .contact-widget .gfield_label {
  display: none;
}
html body #primary #content .text-container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 70vw;
}
html body #primary #content .text-container .home-blurb {
  width: 35vw;
  margin: 2vw 0;
}
html body #primary #content .text-container .home-blurb h1 {
  font-size: 3rem;
}
html body #primary #content .text-container .home-blurb p {
  font-size: 1rem;
  margin: 1vw 0;
  text-align: justify;
}
html body #primary #content .text-container .blurb-aside {
  width: 34vw;
}
html body #primary #content .home-tabs {
  padding-bottom: 2vw;
}
html body #primary #content .home-tabs .nav-tabs {
  border-bottom: 0;
  width: 85vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 0.75vw 0 0;
}
html body #primary #content .home-tabs .nav-tabs li.active a {
  background: transparent !important;
  padding-bottom: 0px;
}
html body #primary #content .home-tabs .nav-tabs li.active a:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid #60cfde;
  margin-top: 1vw;
}
html body #primary #content .home-tabs .nav-tabs li {
  max-width: 14vw;
  text-align: center;
}
html body #primary #content .home-tabs .nav-tabs li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent !important;
}
html body #primary #content .home-tabs .nav-tabs li a p {
  font-size: 1rem;
  color: #5b5b5b;
}
html body #primary #content .home-tabs .nav-tabs li a img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  margin-bottom: 1.5vw;
}
html body #primary #content .home-tabs .nav-tabs li:hover a {
  background-color: transparent;
}
html body #primary #content .home-tabs .nav-tabs li:hover a img {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
html body #primary #content .home-tabs .nav-tabs .active a img {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
html body #primary #content .home-tabs .tab-content {
  width: 70vw;
  margin: auto;
  min-height: 10vw;
  background: #60cfde;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html body #primary #content .home-tabs .tab-content .tab-pane {
  height: 0px;
  transition: all 0.5s ease;
}
html body #primary #content .home-tabs .tab-content .tab-pane.active {
  min-height: 10vw;
  justify-content: center;
  display: flex;
}
html body #primary #content .home-tabs .tab-content p {
  margin: auto;
  color: #fff;
  width: 50vw;
  font-size: 1rem;
}
html body #primary #content .service-section {
  padding: 7.5vw 1vw;
  background: #f1f1f1;
}
html body #primary #content .service-section .service-areas-container {
  display: flex;
  width: 70vw;
  margin: auto;
  align-items: center;
}
html body #primary #content .service-section .service-areas-container .businesses-served {
  width: 35vw;
  display: flex;
  flex-wrap: wrap;
}
html body #primary #content .service-section .service-areas-container .businesses-served .business-square {
  width: 15vw;
  height: 15vw;
  display: flex;
  margin: 1vw;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-repeat: no-repeat;
  background-color: #25aae1;
  background-size: cover;
}
html body #primary #content .service-section .service-areas-container .businesses-served .business-square .inner-square {
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  transition: all 0.5s ease;
}
html body #primary #content .service-section .service-areas-container .businesses-served .business-square .inner-square:hover {
  background: rgba(96,207,222,0.85);
  color: #fff;
  cursor: pointer;
}
html body #primary #content .service-section .service-areas-container .service-text {
  width: 35vw;
  display: flex;
  flex-direction: column;
}
html body #primary #content .service-section .service-areas-container .service-text h1 {
  font-size: 3rem;
  border-bottom: solid 2px #666;
  width: 31vw;
  padding: 1vw 0;
}
html body #primary #content .service-section .service-areas-container .service-text p {
  font-size: 1rem;
  line-height: 1.5rem;
}
html body #primary #content .service-section .service-areas-container .service-text .btn {
  align-self: flex-start;
  margin: 1vw 0;
  transition: all 0.5s ease;
}
html body #primary #content .service-section .service-areas-container .service-text .btn:hover {
  background: #60cfde;
}
html body #primary #content .counter-section {
  background-repeat: no-repeat;
  background-color: #25aae1;
  background-size: cover;
}
html body #primary #content .counter-section .counter-inner {
  width: 75vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
  min-height: 26vw;
  align-items: center;
  color: #fff;
}
html body #primary #content .counter-section .counter-inner .counter-single {
  text-align: center;
  border: 1px solid;
  border-radius: 30px;
  width: 16vw;
  height: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html body #primary #content .counter-section .counter-inner .counter-single h1 {
  font-size: 7rem;
  font-weight: 200;
}
html body #primary #content .counter-section .counter-inner .counter-single p {
  font-size: 2rem;
  font-weight: 300;
}
html body #primary #content .call-to-action {
  display: flex;
  margin: 4vw;
  text-align: center;
  justify-content: center;
  align-items: center;
}
html body #primary #content .call-to-action .btn:hover {
  background: #60cfde;
}
html body #primary #content .call-to-action h1 {
  font-size: 2.75rem;
}
.gform_wrapper .top_label .gfield_label {
  display: none;
}
.gform_wrapper textarea.medium {
  height: 200px !important;
  width: 100%;
}
li.gfield {
  padding-right: 0;
  font-size: 0.75rem;
  line-height: 1.7vw;
  margin: 1vw 0vw;
}
.gform_wrapper .gform_footer {
  padding: 0 !important;
  margin: auto;
  clear: both;
  width: 100%;
  text-align: center;
}
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type=submit] {
  width: auto !important;
  margin: 0vw 0 0 !important;
  text-align: center !important;
  background: transparent !important;
  border-color: transparent !important;
  font-size: 1rem !important;
  color: #fff !important;
  padding: 0.5vw 1vw;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.gform_wrapper .gform_footer input.button:hover {
  border: #fff 2px solid !important;
  border-radius: 40px !important;
  transition: all 0.5s ease;
}
.childHeader {
  background: url("") no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: 350px;
  padding: 2rem;
  background-attachment: fixed;
}
.childHeader h1 {
  margin: 0;
  color: #fff;
  margin-top: 5%;
  font-size: 3rem;
  max-width: 1000px;
}
.blog-container {
  display: flex;
  width: 100%;
  max-width: 72rem;
  margin: 3rem auto;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .blog-container {
    flex-wrap: wrap;
  }
}
.blog-container .left-col {
  max-width: 66%;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .blog-container .left-col {
    max-width: 100%;
  }
}
.blog-container .left-col .blog-holder {
  box-shadow: 0 0 15px -6px rgba(0,0,0,0.1);
  height: 30rem;
  position: relative;
  background-size: cover;
  margin-bottom: 1rem;
  background-position: center;
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  transition: 1s;
}
@media only screen and (max-width: 767px) {
  .blog-container .left-col .blog-holder {
    height: 40rem;
  }
}
.blog-container .left-col .blog-holder .text-holder {
  opacity: 0;
  background: #fff;
  height: auto;
  width: 66.66%;
  transition: 0.5s ease-in;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}
@media only screen and (max-width: 767px) {
  .blog-container .left-col .blog-holder .text-holder {
    opacity: 0.8;
    width: 90%;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0.5rem;
  }
}
.blog-container .left-col .blog-holder .text-holder .date-holder {
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #25aae1;
}
.blog-container .left-col .blog-holder .text-holder .date-holder h5 {
  margin: 0;
  color: #fff;
}
.blog-container .left-col .blog-holder .text-holder .date-holder h6 {
  margin: 0;
  color: #fff;
}
.blog-container .left-col .blog-holder .text-holder .text-holder-top {
  margin: 1rem 1rem 0 1rem;
}
.blog-container .left-col .blog-holder .text-holder .text-holder-top h4 {
  font-size: 19px;
  color: #25aae1;
  font-weight: 800;
  text-transform: uppercase;
  padding-right: 10px;
  margin: 0;
}
.blog-container .left-col .blog-holder .text-holder .text-holder-top h5 {
  margin: 0;
  font-weight: 300;
  font-size: 13px;
  text-transform: lowercase;
}
.blog-container .left-col .blog-holder .text-holder .text-holder-top h5 a {
  color: #25aae1;
}
.blog-container .left-col .blog-holder .text-holder .text-holder-bottom {
  padding: 0.5rem 1rem 1rem 1rem;
}
.blog-container .left-col .blog-holder .text-holder .text-holder-bottom p {
  font-size: 0.9rem;
  line-height: 1.4;
  margin-bottom: 0;
}
.blog-container .left-col .blog-holder:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}
.blog-container .left-col .blog-holder:hover .text-holder {
  opacity: 1;
}
.blog-container .right-col {
  width: 100%;
  max-width: 33%;
  list-style: none;
}
@media only screen and (max-width: 767px) {
  .blog-container .right-col {
    max-width: 100%;
    margin-top: 2rem;
  }
}
.blog-container .right-col .right-col-inner {
  padding: 0 1rem 1rem 1rem;
  box-shadow: 0 0 15px -6px rgba(0,0,0,0.1);
  width: 100%;
  margin: 0 auto;
}
.blog-container .right-col .right-col-inner .image-holder {
  margin-top: 1rem;
  background-color: #25aae1;
  padding: 1rem;
}
.blog-container .right-col .right-col-inner .image-holder img {
  display: block;
  margin: 0 auto;
}
.blog-container .right-col #search-5 label {
  display: none;
}
.blog-container .right-col #search-5 form div {
  display: flex;
}
.blog-container .right-col #search-5 form div #s {
  width: 70%;
  border: 0;
  padding: 3px 2px;
  background-color: rgba(0,0,0,0.1);
}
.blog-container .right-col #search-5 form div #searchsubmit {
  width: 30%;
  border: none;
  background-color: #25aae1;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.blog-container .right-col h2 {
  font-size: 19px;
  color: #25aae1;
  border-bottom: 3px solid #25aae1;
  display: inline-block;
  font-weight: 800;
  text-transform: uppercase;
  padding-right: 10px;
}
.blog-container .right-col ul {
  list-style: none;
  padding: 0 0 0 15px;
}
.blog-container .right-col ul li,
.blog-container .right-col ul li a {
  color: #25aae1;
  transition: 0.5s;
  font-size: 16px;
}
.blog-container .right-col ul li a:hover {
  color: #25aae1;
}
.blog-container .right-col #categories-4 label {
  display: none;
}
.blog-container .right-col #categories-4 select {
  width: 100%;
}
.blog-container .right-col .tagcloud {
  margin: 0 0 1rem;
}
.blog-container .right-col .tagcloud a {
  margin: 3px;
  padding: 3px 5px;
  border-radius: 0;
  font-size: 13px;
  color: #25aae1;
  background-color: rgba(0,0,0,0.1);
  text-transform: lowercase;
  transition: 1s;
}
.blog-container .right-col .tagcloud a:hover {
  background-color: #25aae1;
  color: #fff;
}
.blog-container .right-col #calendar-2 {
  box-shadow: 0 0 15px -7px rgba(0,0,0,0.5);
}
.blog-container .right-col #calendar-2 table {
  width: 100%;
  text-align: center;
}
.blog-container .right-col #calendar-2 table caption {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  background-color: #25aae1;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
}
.blog-container .right-col #calendar-2 table thead tr {
  border-left: 1px solid rgba(0,0,0,0.05);
  border-right: 1px solid rgba(0,0,0,0.05);
}
.blog-container .right-col #calendar-2 table thead tr th {
  text-align: center;
}
.blog-container .right-col #calendar-2 table td {
  padding: 0.2rem;
  border: 1px solid rgba(0,0,0,0.05);
}
.blog-container .right-col #calendar-2 table td a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5b5b5b;
}
.blog-container .right-col #calendar-2 table tfoot {
  border: 1px solid rgba(0,0,0,0.05);
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: #25aae1;
}
.blog-container .right-col #calendar-2 table tfoot td {
  border: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.blog-container .right-col #calendar-2 table tfoot td a {
  color: #fff;
}
.blog-featured {
  display: flex;
  width: 100%;
  height: 32rem;
  max-width: 72rem;
  margin: 3rem auto;
}
@media only screen and (max-width: 767px) {
  .blog-featured {
    flex-wrap: wrap;
    height: auto;
  }
}
.blog-featured .text-holder {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.blog-featured .text-holder p {
  margin: 0 0 3rem;
  padding: 0.2rem 0.5rem;
  display: inline-block;
  background-color: #fff;
  color: #5b5b5b;
  font-size: 0.8rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  position: relative;
}
.blog-featured .text-holder h4 {
  font-size: 2rem;
  max-width: 19rem;
  white-space: pre-wrap;
  padding: 0.2rem 0.5rem;
  font-weight: 600;
}
.blog-featured .featured-col-left {
  width: 66.66%;
  height: 100%;
  padding: 1.5vw;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 767px) {
  .blog-featured .featured-col-left {
    width: 100%;
    height: 32rem;
  }
}
.blog-featured .featured-col-right {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  background-size: cover;
}
@media only screen and (max-width: 767px) {
  .blog-featured .featured-col-right {
    width: 100%;
    flex-direction: row;
  }
}
.blog-featured .featured-col-right .featured-stack {
  height: 50%;
  padding: 1.5vw;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 767px) {
  .blog-featured .featured-col-right .featured-stack {
    width: 50%;
    height: 16rem;
  }
}
.page-nation {
  font-size: 1rem;
  color: #5b5b5b;
  margin-top: 1rem;
}
.page-nation a {
  color: #5b5b5b;
}
.draw-border {
  box-shadow: inset 0 0 0 4px #fff;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.08333s;
  transition: color 0.25s 0.08333s;
  position: relative;
  border-color: #5b5b5b;
}
.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.featured-col-left,
.featured-stack {
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  transition: 1s;
}
.featured-col-left:hover,
.featured-stack:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}
.featured-col-left:hover .draw-border,
.featured-stack:hover .draw-border {
  color: #fff;
  animation: text-bounce 1s;
}
.featured-col-left:hover .draw-border p,
.featured-stack:hover .draw-border p {
  color: #fff;
  background-color: #5b5b5b;
}
.featured-col-left:hover .draw-border::before,
.featured-stack:hover .draw-border::before,
.featured-col-left:hover .draw-border::after,
.featured-stack:hover .draw-border::after {
  border-color: #5b5b5b;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.featured-col-left:hover .draw-border::before,
.featured-stack:hover .draw-border::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}
.featured-col-left:hover .draw-border::after,
.featured-stack:hover .draw-border::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}
@-moz-keyframes text-bounce {
  0%, 100% {
    color: #fff;
  }
  50% {
    color: #5b5b5b;
  }
}
@-webkit-keyframes text-bounce {
  0%, 100% {
    color: #fff;
  }
  50% {
    color: #5b5b5b;
  }
}
@-o-keyframes text-bounce {
  0%, 100% {
    color: #fff;
  }
  50% {
    color: #5b5b5b;
  }
}
@keyframes text-bounce {
  0%, 100% {
    color: #fff;
  }
  50% {
    color: #5b5b5b;
  }
}
html body footer .site-footer .footer-top .footer-links .footer-links-inner {
  display: flex;
  width: 60vw;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
